.options label {
  margin-right: 1em;
  min-width: 8em;
  display: inline-block;
}

.options input {
  margin-right: 1em;
}

button {
  font-size: 1.3em;
  margin-right: 2em;
}

.options {
  display: inline-block;
}

body {
  size: 1.2em;
}

.output {
  font-family: monospace;
}

.credits {
  position: absolute;
  bottom:0;
  right:0;
  border: 1px solid black;
  padding: 1em;
}